<main class="page-home">
    <h1>Home page</h1>
    <h2 class="sub-title">Acesso restrito apenas a utilizadores logados</h2>
    <div class="container-user">
        <div class="group">
            <span class="label-text">Nome Utilizador:</span>
            <span class="value-name"></span>
        </div>
        <div class="group">
            <span class="label-text">Email:</span>
            <span class="value-email"></span>
        </div>
        <button type="button" class="btn-logout">LogOut</button>
    </div>
</main>