*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    width: 100%;
    height: 100%;
}
.copyright{
    margin-top: 30px;
    font-size: 14px;
    color: gray;
}
.feedback-error{
    font-size: 12px;
    color: tomato;
    text-align: left;
}
main{
    text-align: center;
    margin-top: 50px;
}
.default-link{
    display: block;
    margin-top: 30px;
}